body    {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(gray, lightgray);
    height: 100px;
    padding: 30px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.navigation ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover {
    color: brown;
    border: 1px, 0, 1px, 0;
    border-color: chartreuse;
}

.header-image {
    width: 100%;
    height: 710px;
    background: url("../../photography2/imgs/photo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about {
    background: linear-gradient(lightgray, lightgrey);
    width: 100%;
    height: 300px;
    padding: 30px;
}

.contact    {
    height: 300px;
    width: 100%;
    padding: 20px;
}

.contact form input[type=text], input[type=email] {
    width: 500px;
    outline: none;
    border: 0px;
    margin: 10px;
    border-bottom: 1px solid black;
}

.contact form a input[type=submit]  {
    width: 500px;
}

.footer {
    height: 200px;
    width: 100%;
    background: linear-gradient(grey, lightgray);
}

.footer .footer-links   {
    width: 100%;
    padding: 30px;
}

.footer .footer-links ul {
    list-style-type: none;

}

.footer .footer-links ul li{
    display: inline;
    margin-right: 10px;
}

.footer .footer-links ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
}




























